# Module 3- Regression & Beta Calculation

   ### Welcome to the Answer notebook for Module 3 ! 
Make sure that you've submitted the module 2 notebook and unlocked Module 3 yourself before you start coding here

#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------#

### Query 3.1 
Import the file 'gold.csv', which is contains the data about last 2 years price action of Indian(MCX) gold standard. Explore the dataframe. You'd see 2 unique columns - 'Pred' and 'new'.

One of the 2 columns is a linear combination of the OHLC prices with varying coefficients while the other is a polynomial fucntion of the same inputs. Also, one of the 2 columns is partially filled.

>Using linear regression, find the coefficients of the inputs and using the same trained model, complete the
      entire column.
      
>Also, try to fit the other column as well using a new linear regression model. Check if the predicitons are 
      accurate.
      Mention which column is a linear function and which is a polynomial function.
      (Hint: Plotting a histogram & distplot helps in recognizing the  discrepencies in prediction, if any.)

In [1]:
import pandas as pd
data=pd.read_csv('GOLD.csv')
data.head()

,Date,Price,Open,High,Low,Vol.,Change %,Pred,new
0,"May 04, 2017",28060,28400,28482,28025,0.08K,-1.79%,738.0,117.570740
1,"May 05, 2017",28184,28136,28382,28135,0.06K,0.44%,-146.0,295.430176
2,"May 08, 2017",28119,28145,28255,28097,7.85K,-0.23%,30.0,132.123714
3,"May 09, 2017",27981,28125,28192,27947,10.10K,-0.49%,357.0,101.298064
4,"May 10, 2017",28007,28060,28146,27981,9.28K,0.09%,124.0,112.153318

In [2]:
import numpy as np
import pandas as pd
data['Pred'] = data['Pred'].replace(np.nan, 0)
data

,Date,Price,Open,High,Low,Vol.,Change %,Pred,new
0,"May 04, 2017",28060,28400,28482,28025,0.08K,-1.79%,738.0,117.570740
1,"May 05, 2017",28184,28136,28382,28135,0.06K,0.44%,-146.0,295.430176
2,"May 08, 2017",28119,28145,28255,28097,7.85K,-0.23%,30.0,132.123714
3,"May 09, 2017",27981,28125,28192,27947,10.10K,-0.49%,357.0,101.298064
4,"May 10, 2017",28007,28060,28146,27981,9.28K,0.09%,124.0,112.153318
5,"May 11, 2017",28022,27995,28100,27945,9.72K,0.05%,149.0,182.427089
6,"May 12, 2017",28019,28088,28195,27985,9.48K,-0.01%,167.0,141.255137
7,"May 15, 2017",28008,28049,28157,27996,8.76K,-0.04%,22.0,120.069010
8,"May 16, 2017",28109,28025,28159,28025,7.73K,0.36%,34.0,218.401641
9,"May 17, 2017",28614,28170,28638,28170,15.92K,1.80%,420.0,919.376358
10,"May 18, 2017",28710,28666,28980,28551,23.80K,0.34%,234.0,475.389093
11,"May 19, 2017",28634,28660,28779,28531,13.16K,-0.26%,345.0,222.895307
12,"May 22, 2017",28783,28590,28799,28568,9.31K,0.52%,265.0,425.738484
13,"May 23, 2017",28808,28804,28930,28740,12.50K,0.09%,138.0,194.449548
14,"May 24, 2017",28719,28770,28770,28650,8.69K,-0.31%,378.0,69.289005
15,"May 25, 2017",28638,28769,28770,28600,9.93K,-0.28%,413.0,39.225874
16,"May 26, 2017",28847,28694,28866,28674,9.52K,0.73%,214.0,346.158401
17,"May 29, 2017",28874,28843,28928,28807,4.56K,0.09%,121.0,152.281425
18,"May 30, 2017",28704,28921,28960,28680,9.88K,-0.59%,491.0,63.234310
19,"May 31, 2017",28905,28683,28950,28628,7.83K,0.70%,397.0,547.115621
20,"Jun 01, 2017",28749,28877,28877,28712,1.77K,-0.54%,404.0,37.212629
21,"Jun 02, 2017",28949,28685,29011,28680,0.31K,0.70%,222.0,598.104568
22,"Jun 05, 2017",29111,29045,29180,29045,0.71K,0.56%,-3.0,201.306765
23,"Jun 06, 2017",29481,29220,29499,29216,11.14K,1.27%,259.0,546.566915
24,"Jun 07, 2017",29376,29439,29485,29310,9.82K,-0.36%,344.0,112.394063
25,"Jun 08, 2017",29049,29319,29345,28951,12.95K,-1.11%,906.0,125.333702
26,"Jun 09, 2017",28938,29001,29009,28836,8.98K,-0.38%,526.0,110.611943
27,"Jun 12, 2017",28917,28905,28971,28851,7.77K,-0.07%,174.0,132.274514
28,"Jun 13, 2017",28862,28907,28916,28711,7.71K,-0.19%,685.0,161.078158
29,"Jun 14, 2017",28946,28890,29025,28802,9.37K,0.29%,329.0,280.114923
...,...,...,...,...,...,...,...,...,...
482,"Mar 21, 2019",31842,31899,32064,31806,9.41K,0.32%,0.0,201.292020
483,"Mar 22, 2019",32155,31869,32184,31748,19.21K,0.98%,0.0,727.589391
484,"Mar 25, 2019",32223,32199,32245,32083,14.02K,0.21%,0.0,186.706916
485,"Mar 26, 2019",32113,32200,32200,32031,13.04K,-0.34%,0.0,82.432643
486,"Mar 27, 2019",32019,32101,32182,32000,17.72K,-0.29%,0.0,100.108062
487,"Mar 28, 2019",31624,31993,32030,31591,15.06K,-1.23%,0.0,70.458580
488,"Mar 29, 2019",31703,31600,31788,31510,11.36K,0.25%,0.0,382.702761
489,"Apr 01, 2019",31570,31588,31730,31542,4.52K,-0.42%,0.0,170.166889
490,"Apr 02, 2019",31535,31550,31590,31359,0.39K,-0.11%,0.0,217.296470
491,"Apr 03, 2019",31450,31499,31607,31318,0.17K,-0.27%,0.0,241.218085
492,"Apr 04, 2019",31503,31499,31549,31350,0.07K,0.17%,0.0,203.971196
493,"Apr 05, 2019",31566,31535,31620,31400,0.06K,0.20%,0.0,252.163057
494,"Apr 08, 2019",32076,31795,32155,31795,12.90K,1.62%,0.0,644.181632
495,"Apr 09, 2019",32098,32131,32171,32020,11.01K,0.07%,0.0,118.367833
496,"Apr 10, 2019",32174,32070,32197,31968,11.74K,0.24%,0.0,334.475663
497,"Apr 11, 2019",31663,32148,32148,31638,17.11K,-1.59%,0.0,25.402996
498,"Apr 12, 2019",31760,31721,31871,31705,11.01K,0.31%,0.0,205.287967
499,"Apr 15, 2019",31760,31710,31791,31570,8.54K,0.00%,0.0,272.330060
500,"Apr 16, 2019",31474,31700,31768,31453,14.48K,-0.90%,0.0,89.210314
501,"Apr 17, 2019",31410,31500,31525,31393,5.65K,-0.20%,0.0,42.071481
502,"Apr 18, 2019",31403,31474,31544,31355,9.87K,-0.02%,0.0,118.289332
503,"Apr 22, 2019",31531,31497,31697,31497,9.89K,0.41%,0.0,234.215894
504,"Apr 23, 2019",31525,31490,31566,31401,9.92K,-0.02%,0.0,200.651572
505,"Apr 24, 2019",31759,31480,31799,31450,12.64K,0.74%,0.0,631.428967
506,"Apr 25, 2019",31843,31750,31926,31641,11.64K,0.26%,0.0,379.819475
507,"Apr 26, 2019",31868,31851,31934,31705,9.67K,0.08%,0.0,247.177322
508,"Apr 30, 2019",31625,31800,31824,31597,6.44K,-0.76%,0.0,52.201158
509,"May 01, 2019",31563,31604,31657,31503,1.55K,-0.20%,0.0,113.293305
510,"May 02, 2019",31203,31420,31425,31160,0.48K,-1.14%,0.0,48.365693
511,"May 03, 2019",31341,31250,31500,31163,0.08K,0.44%,0.0,429.924911

In [3]:
import sklearn 
from sklearn.model_selection import train_test_split
train,test=train_test_split(data,test_size=0.2)
print(train.shape)
print(test.shape)

(409, 9)
(103, 9)

In [4]:
x_train=train[['Open','High','Low']]
y_train=train[['new']]
x_test=test[['Open','High','Low']]
y_test=test[['new']]
x_train.head()

      Open   High    Low
29   28890  29025  28802
247  31300  31300  31110
110  29540  29718  29540
128  29301  29318  29168
443  32057  32367  32019

In [5]:
x_train=train[['Open','High','Low']]
y_train=train[['Pred']]
x_test=test[['Open','High','Low']]
y_test=test[['Pred']]
x_train.head()
y_train.head()

      Pred
29   329.0
247  488.0
110   82.0
128  397.0
443    0.0

In [6]:
from sklearn.linear_model import LinearRegression
ln=LinearRegression()
ln.fit(x_train,y_train)
y_pred=ln.predict(x_test)
print(y_pred.size)

103

In [7]:
data1=data.iloc[0:400,0:]
data1.tail()

,Date,Price,Open,High,Low,Vol.,Change %,Pred,new
395,"Nov 19, 2018",30888,31068,31068,30785,8.15K,-0.42%,772.0,103.946857
396,"Nov 20, 2018",30830,30811,30994,30800,8.35K,-0.19%,-101.0,213.188961
397,"Nov 21, 2018",30839,30800,30910,30750,7.74K,0.03%,168.0,199.463089
398,"Nov 22, 2018",30613,30852,30899,30555,9.81K,-0.73%,663.0,105.652986
399,"Nov 23, 2018",30513,30551,30566,30427,4.66K,-0.33%,405.0,101.392875

In [8]:
data2=data.iloc[400:,0:]
data2.tail()

,Date,Price,Open,High,Low,Vol.,Change %,Pred,new
507,"Apr 26, 2019",31868,31851,31934,31705,9.67K,0.08%,0.0,247.177322
508,"Apr 30, 2019",31625,31800,31824,31597,6.44K,-0.76%,0.0,52.201158
509,"May 01, 2019",31563,31604,31657,31503,1.55K,-0.20%,0.0,113.293305
510,"May 02, 2019",31203,31420,31425,31160,0.48K,-1.14%,0.0,48.365693
511,"May 03, 2019",31341,31250,31500,31163,0.08K,0.44%,0.0,429.924911

In [9]:
import sklearn 
from sklearn.model_selection import train_test_split
train,test=train_test_split(data1,test_size=0.2)
print(train.shape)
print(test.shape)

(320, 9)
(80, 9)

In [10]:
x_train1=train[['Open','High','Low']]
y_train1=train[['Pred']]
x_test=test[['Open','High','Low']]
y_test=test[['Pred']]
x_train.head()
y_train.head()

      Pred
29   329.0
247  488.0
110   82.0
128  397.0
443    0.0

In [11]:
from sklearn.linear_model import LinearRegression
ln=LinearRegression()
ln.fit(x_train1,y_train1)
d= data2.iloc[0:,2:5]
d.head()
y_pred1=ln.predict(d)
print(y_pred1.size)

112

In [12]:
import sklearn 
from sklearn.model_selection import train_test_split
train,test=train_test_split(data,test_size=0.2)
print(train.shape)
print(test.shape)

(409, 9)
(103, 9)

In [13]:
x_train=train[['Open','High','Low']]
y_train=train[['new']]
x_test=test[['Open','High','Low']]
y_test=test[['new']]
x_train.head()
y_train.head()

            new
455   56.177990
234  601.476863
357  126.294164
155   40.096333
453  358.515649

In [34]:
from sklearn.linear_model import LinearRegression
ln=LinearRegression()
ln.fit(x_train,y_train)
y_pred=ln.predict(x_test)
print(y_pred)

[[ 179.29083749]
 [ 206.14011707]
 [ 170.33597479]
 [ 240.89572846]
 [ 102.0370503 ]
 [  76.06815947]
 [ 244.21388438]
 [  55.97521276]
 [  67.20805767]
 [ 247.34794373]
 [ 355.78141229]
 [ 127.86988068]
 [ 116.35362198]
 [ 352.95568635]
 [ 154.39756031]
 [ 255.24876338]
 [ 306.6996694 ]
 [ 115.76761628]
 [  60.39474766]
 [ 245.74643039]
 [ 318.55853752]
 [ 184.60525169]
 [ 121.73541178]
 [ 307.93868883]
 [ 158.58202507]
 [ 270.21377547]
 [ 408.08422366]
 [  41.26424831]
 [  44.2352515 ]
 [ 353.39675951]
 [ 253.85769264]
 [ 277.13350449]
 [ 390.27235886]
 [ 480.6136606 ]
 [ 146.72306087]
 [ 301.07007271]
 [ 495.97360763]
 [  69.92618905]
 [  41.62290088]
 [ 136.61365271]
 [ 257.34490628]
 [ 372.1804062 ]
 [ 296.45137179]
 [ 449.0926758 ]
 [ 192.3316692 ]
 [ 414.89360247]
 [  46.49824404]
 [ 123.74572366]
 [  89.04986449]
 [  73.37383455]
 [  30.33738581]
 [  62.91848725]
 [ 210.97772168]
 [ 452.69570396]
 [ 247.14971305]
 [ 138.47344334]
 [ 131.59312187]
 [ 144.04285116]
 [ 331.21756038]
 [ 127.42038058]
 [ 571.60180509]
 [  61.60625174]
 [  95.61634888]
 [ 128.098005  ]
 [ 292.2498022 ]
 [ 192.04947651]
 [  59.07129295]
 [ 462.78614114]
 [ 372.04559852]
 [ 333.20855466]
 [ 229.38665782]
 [ 199.27014002]
 [ 755.98809073]
 [ 535.91034854]
 [ 432.14142656]
 [ 203.62626938]
 [ 240.28057239]
 [ 178.69180292]
 [ 269.38250569]
 [ 366.03188503]
 [ 221.48736127]
 [  44.40369616]
 [ 134.39737945]
 [ 183.92856902]
 [ 173.11620173]
 [ 154.53759084]
 [ 120.7836339 ]
 [ 426.085426  ]
 [ 500.76436374]
 [ 454.12676938]
 [ 263.22818844]
 [ 322.35288344]
 [ 593.71673048]
 [ 145.0944223 ]
 [ 229.7109837 ]
 [ 140.61307169]
 [ 172.41984337]
 [1002.28393782]
 [ 169.11545796]
 [ 611.69787635]
 [ 350.18169799]
 [  88.08412059]
 [ 309.8883411 ]]

# # Adding predicted values to the dataframe

In [48]:

import numpy as np
values=y_pred
data['Pred'] = values.where(data['Pred'] == np.nan, others=data['Pred'])

#3.2 Import the stock of your choosing AND the Nifty index.
Using linear regression (OLS), calculate -
The daily Beta value for the past 3 months. (Daily= Daily returns)
The monthly Beta value. (Monthly= Monthly returns)
Refrain from using the (covariance(x,y)/variance(x)) formula.
Attempt the question using regression.(Regression Reference)
Were the Beta values more or less than 1 ? What if it was negative ?
Discuss. Include a brief writeup in the bottom of your jupyter notebook with your inferences from the Beta values and regression results

In [49]:
import pandas as pd
nf= pd.read_csv('Nifty50.csv')
print(nf.head())
dt=pd.read_csv('HEROMOTOCO.csv')
dt.head()

        Date     Open     High      Low    Close  Shares Traded  \
0  15-May-17  9433.55  9449.25  9423.10  9445.40      145163953
1  16-May-17  9461.00  9517.20  9456.35  9512.25      171709433
2  17-May-17  9517.60  9532.60  9486.10  9525.75      211856040
3  18-May-17  9453.20  9489.10  9418.10  9429.45      199340647
4  19-May-17  9469.90  9505.75  9390.75  9427.90      259861396

   Turnover (Rs. Cr)
0            7790.97
1            9209.89
2           10726.23
3           10782.46
4           11544.77

,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,Close Price,Average Price,Total Traded Quantity,Turnover,No. of Trades,Deliverable Qty,% Dly Qt to Traded Qty
0,HEROMOTOCO,EQ,15-May-2017,3541.50,3541.0,3558.00,3504.60,3518.0,3515.45,3519.65,215587,7.587906e+08,17129,110769,51.38
1,HEROMOTOCO,EQ,16-May-2017,3515.45,3529.5,3631.80,3491.10,3623.0,3619.40,3561.42,372398,1.326266e+09,33654,147610,39.64
2,HEROMOTOCO,EQ,17-May-2017,3619.40,3615.0,3683.95,3595.05,3634.1,3645.95,3651.06,338342,1.235308e+09,27003,160855,47.54
3,HEROMOTOCO,EQ,18-May-2017,3645.95,3600.0,3639.00,3577.05,3586.0,3592.05,3602.46,294013,1.059170e+09,23822,143430,48.78
4,HEROMOTOCO,EQ,19-May-2017,3592.05,3597.0,3656.00,3533.75,3565.0,3571.65,3593.06,270446,9.717284e+08,26291,113208,41.86

In [53]:
nf= pd.read_csv('Nifty50.csv')
nf

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,15-May-17,9433.55,9449.25,9423.10,9445.40,145163953,7790.97
1,16-May-17,9461.00,9517.20,9456.35,9512.25,171709433,9209.89
2,17-May-17,9517.60,9532.60,9486.10,9525.75,211856040,10726.23
3,18-May-17,9453.20,9489.10,9418.10,9429.45,199340647,10782.46
4,19-May-17,9469.90,9505.75,9390.75,9427.90,259861396,11544.77
5,22-May-17,9480.25,9498.65,9427.90,9438.25,202874757,9432.97
6,23-May-17,9445.05,9448.05,9370.00,9386.15,231345629,11553.27
7,24-May-17,9410.90,9431.90,9341.65,9360.55,218265181,11045.95
8,25-May-17,9384.05,9523.30,9379.20,9509.75,298147347,16964.26
9,26-May-17,9507.75,9604.90,9495.40,9595.10,225647631,11204.36
10,29-May-17,9560.05,9637.75,9547.70,9604.90,242266034,12484.61
11,30-May-17,9590.65,9635.30,9581.20,9624.55,199894193,9765.40
12,31-May-17,9636.55,9649.60,9609.25,9621.25,427053433,19605.94
13,01-Jun-17,9603.55,9634.65,9589.90,9616.10,181533283,9482.61
14,02-Jun-17,9657.15,9673.50,9637.45,9653.50,167195027,8564.30
15,05-Jun-17,9656.30,9687.20,9640.70,9675.10,131685021,7192.24
16,06-Jun-17,9704.25,9709.30,9630.20,9637.15,150379695,8416.55
17,07-Jun-17,9663.95,9678.55,9630.55,9663.90,165669924,8989.36
18,08-Jun-17,9682.40,9688.70,9641.50,9647.25,160165459,8822.63
19,09-Jun-17,9638.55,9676.25,9608.15,9668.25,163897548,9078.71
20,12-Jun-17,9646.70,9647.05,9598.50,9616.40,145786938,7686.89
21,13-Jun-17,9615.55,9654.15,9595.40,9606.90,133734363,7056.83
22,14-Jun-17,9621.55,9627.40,9580.45,9618.15,187378750,10540.68
23,15-Jun-17,9617.90,9621.40,9560.80,9578.05,176423424,9868.08
24,16-Jun-17,9595.45,9615.85,9565.50,9588.05,219808528,11920.62
25,19-Jun-17,9626.40,9673.30,9614.90,9657.55,146146062,8144.36
26,20-Jun-17,9670.50,9676.50,9643.75,9653.50,164437226,8476.67
27,21-Jun-17,9648.10,9650.45,9608.60,9633.60,148490556,8023.40
28,22-Jun-17,9642.65,9698.85,9617.75,9630.00,204888654,10738.45
29,23-Jun-17,9643.25,9647.65,9565.30,9574.95,180580579,9092.74
...,...,...,...,...,...,...,...
464,27-Mar-19,11531.45,11546.20,11413.00,11445.05,350446089,18356.52
465,28-Mar-19,11463.65,11588.50,11452.45,11570.00,527678809,25719.65
466,29-Mar-19,11625.45,11630.35,11570.15,11623.90,416276981,20515.25
467,01-Apr-19,11665.20,11738.10,11644.75,11669.15,379572660,18977.99
468,02-Apr-19,11711.55,11729.35,11655.85,11713.20,386131413,18673.70
469,03-Apr-19,11735.30,11761.00,11629.15,11643.95,365760070,19050.95
470,04-Apr-19,11660.20,11662.55,11559.20,11598.00,349029830,19713.01
471,05-Apr-19,11638.40,11689.65,11609.50,11665.95,266665797,15000.35
472,08-Apr-19,11704.35,11710.30,11549.10,11604.50,260932608,14203.96
473,09-Apr-19,11612.05,11683.90,11569.70,11671.95,300467538,15984.39
474,10-Apr-19,11646.85,11680.05,11571.75,11584.30,359941110,22258.46
475,11-Apr-19,11592.55,11606.70,11550.55,11596.70,279775726,14332.20
476,12-Apr-19,11612.85,11657.35,11578.80,11643.45,246006184,13598.61
477,15-Apr-19,11667.00,11704.60,11648.25,11690.35,289996075,15635.79
478,16-Apr-19,11736.20,11810.95,11731.55,11787.15,354315040,17585.48
479,18-Apr-19,11856.15,11856.15,11738.50,11752.80,339653709,18271.27
480,22-Apr-19,11727.05,11727.05,11583.95,11594.45,260356055,13754.12
481,23-Apr-19,11612.95,11645.95,11564.80,11575.95,272544486,14500.53
482,24-Apr-19,11601.50,11740.85,11578.85,11726.15,335196513,17046.66
483,25-Apr-19,11735.70,11796.75,11624.30,11641.80,604360395,28254.30
484,26-Apr-19,11683.75,11762.90,11661.75,11754.65,333483764,18098.83
485,30-Apr-19,11748.75,11756.25,11655.90,11748.15,532630874,23324.98
486,02-May-19,11725.55,11789.30,11699.55,11724.75,380278045,17790.06
487,03-May-19,11722.60,11770.90,11699.35,11712.25,305519934,15156.32
488,06-May-19,11605.80,11632.55,11571.35,11598.25,299046480,14703.42
489,07-May-19,11651.50,11657.05,11484.45,11497.90,337495624,16632.84
490,08-May-19,11478.70,11479.10,11346.95,11359.45,372826025,17440.01
491,09-May-19,11322.40,11357.60,11255.05,11301.80,373028059,17602.86
492,10-May-19,11314.15,11345.80,11251.05,11278.90,387323416,18085.19
493,13-May-19,11258.70,11300.20,11125.60,11148.20,357586433,16722.91

In [50]:
a= dt['Close Price'].pct_change()
dt['hm_Chg']= a*100
dt['hm_Chg'].iloc[0]=0
data1=dt.iloc[400:,15:16]
data1.head()

/opt/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

       hm_Chg
400 -4.685408
401  0.214619
402 -1.461325
403 -0.198159
404 -0.587651

# Beta calculation for past three months

In [ ]:

b= nf['Close'].pct_change()
nf['nf_chg']= b*100
nf['nf_chg'].iloc[0]=0
data2=nf.iloc[400:,7:8]
data2.head

In [52]:
import statsmodels.api as sm
y=data2
x=data1
model=sm.OLS(y,x)
r=model.fit()
print(r.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 nf_chg   R-squared:                       0.121
Model:                            OLS   Adj. R-squared:                  0.111
Method:                 Least Squares   F-statistic:                     12.77
Date:                Thu, 10 Oct 2019   Prob (F-statistic):           0.000561
Time:                        19:59:56   Log-Likelihood:                -91.550
No. Observations:                  94   AIC:                             185.1
Df Residuals:                      93   BIC:                             187.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
hm_Chg         0.1345      0.038      3.573      0.001       0.060       0.209
==============================================================================
Omnibus:                        1.866   Durbin-Watson:                   1.748
Prob(Omnibus):                  0.393   Jarque-Bera (JB):                1.600
Skew:                           0.179   Prob(JB):                        0.449
Kurtosis:                       2.470   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [57]:
# for every month
import statsmodels.api as sm
y=data2
x=data1
x.rolling(window=30)
y.rolling(window=30)
model=sm.OLS(y,x)
r=model.fit()
print(r.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                 nf_chg   R-squared:                       0.121
Model:                            OLS   Adj. R-squared:                  0.111
Method:                 Least Squares   F-statistic:                     12.77
Date:                Thu, 10 Oct 2019   Prob (F-statistic):           0.000561
Time:                        20:44:17   Log-Likelihood:                -91.550
No. Observations:                  94   AIC:                             185.1
Df Residuals:                      93   BIC:                             187.6
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
hm_Chg         0.1345      0.038      3.573      0.001       0.060       0.209
==============================================================================
Omnibus:                        1.866   Durbin-Watson:                   1.748
Prob(Omnibus):                  0.393   Jarque-Bera (JB):                1.600
Skew:                           0.179   Prob(JB):                        0.449
Kurtosis:                       2.470   Cond. No.                         1.00
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.